.verify-token {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - var(--navbar-height));
  padding: 1rem;

  .verify-token-card {
    width: 100%;
    max-width: 420px;

    mat-card-subtitle {
      font-weight: 200;
      margin-top: 0.6rem;
    }
  }
}
