<div class="verify-token">
  <mat-card class="verify-token-card">
    <mat-card-header>
      <mat-card-title>{{ 'auth.verifyEmail.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ siteName }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      @if (loading()) {
        <p>{{ 'auth.verifyEmail.loading' | translate }}</p>
      } @else {
        @if (isTokenValid()) {
          <p>
            {{ 'auth.verifyEmail.successMessage' | translate }}
            <a [routerLink]="[siteUrls.auth.login]">{{ 'auth.verifyEmail.login' | translate }}</a
            >.
          </p>
        } @else {
          <p>{{ 'auth.verifyEmail.errorMessage' | translate }}</p>
          <a [routerLink]="[siteUrls.auth.resendVerifyEmail]">
            {{ 'auth.verifyEmail.resendEmail' | translate }}
          </a>
        }
      }
    </mat-card-content>
  </mat-card>
</div>
