html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.separator {
  opacity: 0.5;
}

/** Importante, para ocultar los permisos en los directivas. */
.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  display: block;
  width: 100%;
}

/***************
 * Links.
 */
a {
  color: var(--mat-sys-primary);
  text-decoration: none;
  cursor: pointer;

  transition:
    color 150ms ease,
    opacity 150ms ease;

  &:hover {
    opacity: 0.85;
    color: var(--mat-sys-primary-fixed);
  }

  &:active {
    opacity: 0.8;
  }
}

/***************
 * TEXTS.
 */

/***************
 * COLORS.
 */

/***********************
 * Layout.
 */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/** Centrar elementos verticalmente. */
.align-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
