<mat-drawer-container class="sidebar-container">
  <mat-drawer class="sidebar" mode="side" [opened]="sidebarState()">
    <section class="profile">
      <div class="profile-avatar">
        <span>{{ avatarText() }}</span>
      </div>

      <div class="profile-info">
        <h3>
          <span class="fi fi-{{ currentProfile()?.country | countryFlag }}"> </span>
          {{ displayName() }}
        </h3>
        <span>{{ currentUser()?.email }}</span>
      </div>
    </section>

    <mat-divider />

    <vrm-sidebar-menu />
  </mat-drawer>

  <mat-drawer-content class="sidebar-content">
    <ng-content />
  </mat-drawer-content>
</mat-drawer-container>
