.page-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  vrm-sidebar {
    flex: 1;
    min-height: 0;

    .page-layout__content {
      width: 100%;
      height: 100%;
      overflow: auto;
      box-sizing: border-box;
      padding: 1rem;
    }
  }
}
