<nav aria-label="breadcrumb" class="breadcrumb">
  @for (item of items(); track $index) {
    <div class="breadcrumb-item">
      @if (item.link && !item.disabled) {
        <a class="breadcrumb-link" [routerLink]="item.link">
          @if (item.icon) {
            <mat-icon>{{ item.icon }}</mat-icon>
          }

          @if (item.label) {
            <span>{{ item.label | translate }}</span>
          }
        </a>
      } @else {
        <div class="breadcrumb-disabled">
          @if (item.icon) {
            <mat-icon>{{ item.icon }}</mat-icon>
          }

          @if (item.label) {
            <span>{{ item.label | translate }}</span>
          }
        </div>
      }

      @if (!$last) {
        <mat-icon class="breadcrumb-separator">
          {{ iconSeparator() }}
        </mat-icon>
      }
    </div>
  }
</nav>
